
@media(min-width: 500px) { 
    /* menu */
    .header__menu-btn_active {right: 20px;}

    /* header */
    .header__top {padding: 20px 20px;}
    .header__title{font-size: 35px;}
    .header__description-sab {font-size: 23px;}
    .header__description {font-size: 27px;}
    .logo__text{font-size: 18px;}

    /* online cas */
    .title {margin: 20px 0px;}
    .title__text {font-size: 25px;}
    .online-cas__img {width: 400px;}
    .online-cas__title {font-size: 25px;}
    .online-cas__descrition {font-size: 18px;}
    .online-cas__star span {padding: 2px;}
    .btn-yellow--online-cas {padding: 10px 70px;font-size: 18px;}

    /* gold-cas */
    .gold-cas__img {width: 400px;}
    .gold-cas__description {font-size: 18px;}
    .gold-cas-text-game-type{margin: 0 0 10px 0;font-size: 20px;font-weight: 600;}
    .gold-cas-text-slots {font-size: 17px;}

    /* description */
    .description__wrap {margin: 15px;}

    /* play-game */
    .play-game__box {width: 400px;margin: 15px;}
    .play-game__btn {font-size: 15px;right: 20px;bottom: 20px;padding: 10px 25px;}

    /* footer */
    .footer__wrap {padding: 25px;}
 }

 @media(min-width: 600px) { 
    /* menu */
    .header__menu-btn_active {right: 25px;}

    /* header */
    .header__top {padding: 20px 25px;}
    .header__title {font-size: 37px;}
    .logo__text {font-size: 19px;}
    .header__description {font-size: 30px;}
    .header__arrow-text {font-size: 20px;}
    .header__arrow-img {width: 16px;}

    /* online cas */
    .online-cas__img {width: 460px;}

    /* gold cas */
    .gols-cas__title-text {font-size: 25px;}
    .gold-cas-text-game-type {font-size: 22px;}
    .gold-cas-text-slots {font-size: 18px;}
    .gold-cas__img {width: 460px;}
    .gold-cas__pay-title {margin: 13px;font-size: 20px;}
    .gold-cas__pay-logo img {width: 60px;margin: 0 10px;}

    /* play-game */
    .play-game__box {width: 460px;}
    .play-game__btn {right: 25px;bottom: 25px;padding: 10px 30px;}
 }

 @media(min-width: 800px) { 
    /* menu */
    .header__menu-block {width: 300px;}
    .header__menu-btn_active{transform: translateX(0px) translateY(5px);position: fixed;top: 30px;right: 5px;}

     /* header */
    .header__main {flex-direction: row;justify-content: space-around;}
    .header__title{text-align: left;}
    .header__block{align-items: flex-start;}
    .header__block-img {display: inline-block;width: 40%;}
    .header__img{width: 100%; height: auto;}

    /* online cas */
    .title__text {padding: 13px 25px;}
    .online-cas__title {font-size: 23px;}
    .btn-yellow--online-cas {padding: 8px 50px;font-size: 16px;}
    .online-cas__blocks{flex-direction: row;justify-content: space-between;align-items: stretch;}
    .online-cas__img {width: 270px;}
    .online-cas__desc-block {text-align: left;width: 100%;display: flex;flex-direction: column;justify-content: space-between;align-items: flex-start;}
    .online-cas__rating-title {display: inline-block;text-align: center;text-transform: uppercase;font-size: 20px;font-weight: 700;}
    .online-cas__img-block {display: flex;}
    .online-cas__rating-block {display: flex;flex-direction: column;justify-content: space-between;}
    .online-cas__desc-block{padding: 0 25px;}
    .online-cas__descrition {margin: 10px 0;}
    .online-cas__star{display: flex;align-items: center;justify-content: center;margin-bottom: 20px;}
    .content {padding: 10px 30px;box-shadow: 12px 14px 20px rgba(0, 0, 0, 0.05);border-radius: 25px;}

    /* gold cas */
    .gold-cas__content{flex-direction: initial;padding: 30px;}
    .gold-cas__cube {width: 35px;}
    .gold-cas__img {width: 400px;}
    .gold-cas__block-pay {padding: 0;}
    .gold-cas__block-info {align-items: flex-start;justify-content: space-between;padding: 0 30px 0 0;}
    .gold-cas__description {text-align: left;margin: 15px 0;font-size: 20px;}
    .gols-cas__title-text {font-size: 30px;padding: 0 30px 5px 0;}
    .gold-cas-text-game-type {margin-bottom: 15px;}
    .btn-yellow--gold-cas {padding: 15px 50px;}
    .gold-cas__pay-title {font-size: 15px;text-align: left;}
    .gols-cas__box-title {justify-content: initial;}

    /* play-game */
    .play-game__wrap {flex-direction: initial;align-items: initial;padding: 20px 0;flex-wrap: wrap;justify-content: center;}
    .play-game__box {width: 350px;margin: 0;}
    .play-game__btn {right: 20px;bottom: 20px;padding: 8px 20px;font-size: 14px;}
    .footer__wrap{display: flex;justify-content: space-between;}
    .footer__menu{flex-direction: column;justify-content: space-between;}
    .footer__menu-item{border: 0;}
    .footer__menu-link {line-height: 27px;}
    .footer__fllow{width: 60%;}
    .footer__title {text-align: left;margin-top: 0;}
    .footer__description{text-align: left;}
    .footer__block {justify-content: flex-start;margin-top: 40px;}
    .footer__form {flex-direction: initial;}
    .footer__input {margin: 0 15px 0 0;text-align: left;}
    .footer__btn {padding: 11px 55px;}
 }

 @media(min-width: 900px) { 
     /* header */
    .logo__text {font-size: 25px;}
    .logo__img {width: 50px;}
    .header__title {font-size: 42px;}
    .header__description-sab {font-size: 28px;}
    .header__description {font-size: 33px;}
    .header__main-btn {margin: 50px 0 0 0;}
    .btn-yellow--header {padding: 20px 85px;font-size: 17px;}

    /* onlone cas */
    .content {margin: 0 15px;}

    /* gold cas */
    .gold-cas__box-cub{left: 15px;}
    .gold-cas__content{justify-content: center;}
 }

 @media(min-width: 1000px) { 
     /* header */
    .header__main {padding: 0;}    
    .header__title {font-size: 45px;}
    .header__description-sab {font-size: 32px;}
    .header__description {font-size: 37px;}
    .header__main-btn {margin: 55px 0 0 0;}
    .header__block {margin-left: 2rem;}
    .header__top {padding: 20px 35px;}
    .btn-yellow--header {font-size: 19px;}
    .header__arrow-text {font-size: 24px;}
    .header__arrow-img {width: 20px;}

    /* online cas */
    .title {margin: 35px 0px;}
    .title__text {font-size: 30px;padding: 15px 31px;}
    .content {margin: 0 40px;}
    .online-cas__desc-block {padding: 0 20px 0 30px;}
    .btn-yellow--online-cas {padding: 10px 55px;font-size: 17px;}
    .online-cas__rating-title{font-size: 28px;}
    .online-cas__star span {padding: 0;font-size: 35px;line-height: 1;color: lightgrey;}

    /* gold cas */
    .gold-cas__box-cub {left: 40px;}
    .gold-cas__cube {width: 40px;}

    /* description */
    .description__wrap {font-size: 16px;margin: 15px 40px;}

    /* play game */
    .play-game__wrap {padding: 55px 0 100px;}
    .play-game__box {width: 450px;}
    .play-game__btn {right: 20px;bottom: 25px;padding: 10px 30px;font-size: 16px;}

    /* footer */
    .footer__menu-link {font-size: 18px;}
    .footer__title {font-size: 20px;font-weight: 400;}
    .footer__description {font-size: 16px;}
 }

 @media(min-width: 1100px) {
     /* header */
    .gold-cas__img {width: 450px;}
    .gold-cas__pay-logo img {width: 70px;}
    .gold-cas__pay-title {font-size: 20px;}
    .gols-cas__title-text {font-size: 36px;}
    .gold-cas__description {font-size: 27px;}
    .gold-cas-text-game-type {font-size: 27px;}
    .gold-cas-text-slots {font-size: 23px;}
    .btn-yellow--gold-cas {padding: 18px 60px;font-size: 20px;}

    /* description */
    .description__wrap {font-size: 18px;}
 }

 @media(min-width: 1200px) { 
    /* header */
    .logo__text {font-size: 30px;}
    .logo__img {width: 60px;}
    .header__title {font-size: 55px;}
    .header__description-sab {font-size: 40px;}
    .header__description {font-size: 43px;}
    .btn-yellow--header {padding: 24px 85px;font-size: 22px;}
    .header__arrow-text {margin-left: 20px;}

    /* online cas */
    .title__text {font-size: 35px;padding: 16px 31px;}
    .online-cas__img {width: 350px;}
    .online-cas__title {font-size: 35px;}
    .online-cas__descrition {font-size: 25px;}
    .btn-yellow--online-cas {padding: 12px 80px;font-size: 22px;}
    .online-cas__rating-title {font-size: 35px;}
    .content {padding: 20px 40px;}
    .online-cas__desc-block {padding: 0 20px 0 45px;}
    .online-cas__star{margin-bottom: 30px;}
    .online-cas__star span {padding: 3px;font-size: 37px;}

    /* gold cas */
    .gold-cas__img {width: 500px;}
    .gold-cas__pay-title {font-size: 23px;}
    .gold-cas__pay-logo img {width: 80px;}
    .gold-cas__cube {width: 50px;}

    /* description */
    .description__wrap {margin: 50px 40px;line-height: 25px;}

    /* play-game */
    .play-game__wrap {padding: 100px 0 150px;}
    .play-game__box {width: 550px;}
    .play-game__btn {right: 25px;bottom: 30px;padding: 15px 45px;}

    /* footer */
    .footer__title {font-size: 25px;}
    .footer__description {font-size: 20px;}
    .footer__input{padding: 15px 25px;font-size: 20px;width: 300px;}
    .footer__btn {padding: 16px 65px;font-size: 18px;}
    .footer__copyright {padding: 20px;font-size: 18px;}
 }

 @media(min-width: 1400px) { 
    /* header */
    .logo__text {font-size: 34px;}
    .logo__img {width: 70px;}
    .header__top {padding: 40px 60px 0;}
    .header__title {font-size: 65px;}
    .header__description {font-size: 50px;line-height: 62px;}
    .btn-yellow--header {padding: 26px 100px;font-size: 26px;}
    .header__arrow-text {font-size: 27px;}
    .header__arrow-img {width: 23px;}
    .header__arrow-text {margin-left: 25px;}

    /* online cas */
    .title {margin: 75px 0px 50px;}
    .title__text {font-size: 50px;}
    .content {margin: 0 75px;}
    .online-cas__rating-title {font-size: 40px;}
    .online-cas__title {font-size: 40px;}
    .btn-yellow--online-cas {padding: 12px 95px;font-size: 27px;}
    .online-cas__img {width: 400px;}
    .content {padding: 0;}
    .online-cas__blocks {margin: 40px 40px;}
    .online-cas__star span {padding: 3px;font-size: 45px;}

    /* gold cas */
    .gold-cas__box-cub {left: 75px;}
    .gold-cas__cube {width: 60px;}
    .gold-cas__content{padding: 40px;}
    .gols-cas__title-text {font-size: 45px;}
    .gold-cas__description {font-size: 35px;}
    .gold-cas-text-game-type {font-size: 35px;}
    .gold-cas-text-slots {font-size: 28px;}
    .btn-yellow--gold-cas {padding: 22px 75px;font-size: 25px;}
    .gold-cas__img {width: 550px;}
    .gold-cas__pay-title {font-size: 27px;}
    .gold-cas__pay-logo img {margin: 0 15px;}

    /* description */
    .description__wrap {font-size: 23px;margin: 50px 75px;}

    /* play-game */
    .play-game__box {width: 650px;}
    .play-game__btn {right: 30px;bottom: 35px;font-size: 20px;}
    .footer__menu-link {font-size: 25px;line-height: 45px;}
    .footer__title {font-size: 32px;}
    .footer__input {padding: 15px 30px;font-size: 24px;width: 350px;}
    .footer__btn {padding: 16px 55px;font-size: 23px;}
    .footer__copyright {padding: 30px;font-size: 22px;}
 }

 @media(min-width: 1600px) {
    /* header */
    .logo__text {font-size: 37px;}
    .logo__img {width: 75px;}
    .header__title {font-size: 72px;}
    .header__description-sab {font-size: 48px;}
    .header__description {font-size: 54px;line-height: 80px;}
    .header__block-img {display: inline-block;width: 43%;}
    .header__top {padding: 60px 100px 0;}
    .btn-yellow--header {padding: 26px 117px;font-size: 30px;}
    .header__block {margin-left: 7rem;}
    .header__arrow-text {font-size: 30px;margin-left: 30px;}

    /* online cas */
    .title__text {font-size: 57px;}
    .title {margin: 100px 0px 50px;}
    .online-cas__title {font-size: 45px;font-weight: 700;}
    .online-cas__descrition {font-size: 28px;}
    .online-cas__rating-title {font-size: 45px;}
    .btn-yellow--online-cas {padding: 15px 100px;font-size: 27px;}
    .online-cas__img {width: 450px;}
    .online-cas__star span {padding: 3px;font-size: 50px;}

    /* gold cas */
    .gold-cas__content {padding: 50px;}
    .gold-cas__img {width: 620px;}
    .gold-cas__pay-logo img {width: 94px;}
    .gold-cas__pay-title {font-size: 30px;}
    .gols-cas__title-text {font-size: 55px;}
    .gold-cas__description {font-size: 40px;}
    .gold-cas-text-game-type {font-size: 40px;}
    .gold-cas-text-slots {font-size: 30px;}
    .btn-yellow--gold-cas {padding: 25px 95px;font-size: 30px;}
    .gold-cas__cube {width: 65px;}

    /* description */
    .description__wrap {font-size: 28px;line-height: 40px;}

    /* play-game */
    .play-game__wrap {padding: 130px 0 240px;}
    .play-game__box {width: 750px;}
    .play-game__btn {right: 35px;bottom: 40px;font-size: 25px;padding: 20px 54px;}
    .footer__input {padding: 23px 30px;width: 420px;}
    .footer__btn {padding: 24px 80px;font-size: 26px;}
    .footer__copyright {padding: 35px;}
    .footer__wrap {margin: 65px 75px;}
 }

 @media(min-width: 1920px){
     /* header */
    .title {margin: 95px 0px 50px;}
    .title__text {font-size: 64px;}
    .online-cas__blocks {margin: 80px;}
    .online-cas__img {width: 464px;}
    .online-cas__title {font-size: 48px;font-weight: 700;}
    .online-cas__descrition {font-size: 32px;}
    .btn-yellow--online-cas {padding: 19px 117px;font-size: 30px;}
    .online-cas__rating-title {font-size: 48px;}
    .online-cas__desc-block {padding: 0 20px 0 94px;}
    .content {margin: 0 100px;}
    .online-cas__star span {padding: 3px;font-size: 60px;}

    /* gold cas */
    .gold-cas__box-cub {left: 100px;}
    .gold-cas__cube {width: 78px;}
    .gols-cas__title-text {font-size: 64px;padding-bottom: 30px;font-weight: 700;}
    .gold-cas__description {font-size: 48px;}
    .gold-cas__description {font-size: 48px;margin-top: 40px;}
    .gold-cas-text-game-type {font-size: 36px;margin-bottom: 50px;font-weight: 700;}
    .gold-cas-text-slots {font-size: 40px;}
    .btn-yellow--gold-cas {padding: 30px 107px;font-size: 30px;}
    .gold-cas__img {width: 798px;height: 443px;}
    .gold-cas__pay-title {font-size: 36px;font-weight: 700;margin: 50px 0 40px;}
    .gold-cas__pay-logo img {margin: 0 20px;width: 120px;}
    .gold-cas__content {padding: 80px;}

    /* description */
    .description__wrap {padding: 0;font-size: 32px;line-height: 130%;margin: 60px 100px 100px;}

    /* play-game */
    .play-game__wrap {padding: 150px 0 300px;}
    .play-game__box {width: 850px;}
    .play-game__btn {right: 40px;bottom: 60px;font-size: 30px;padding: 20px 55.5px;}
    .footer__wrap {padding: 80px 100px;justify-content: flex-start;margin: 0;}
    .footer__title {font-size: 36px;}
    .footer__description {font-size: 24px;line-height: 28px;}
    .footer__input {padding: 29px 30px;font-size: 24px;width: 492px;}
    .footer__btn {padding: 26px 117px;font-size: 30px;}
    .footer__copyright{font-size: 24px;padding: 39px;}
    .footer__menu{width: 42%;}
 }
 
